<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("69b86e9c-470a-44b1-a473-719af5a55ecb");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
