<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("009f5b28-7e6d-4758-83a0-17d383a338dd");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
