<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("36778891-4be0-45c0-b1c4-ac903996fb4e");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
