<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("55bd2622-238f-43ad-bcd5-db5ad0a27230");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
