<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("e890983c-ec94-44e0-8780-dd835c0dfaa2");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
