<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("1e3de370-4c8d-425b-9ae0-ebcf52275eab");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
