<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("fa463272-638b-4033-a1a0-64e657d954e4");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
